<div class="header flex">
  <div class="left align-center pulse-grow-on-hover">
    <img src="./../../../../assets/img/iokurt-logo.png" alt="" class="logo">
  </div>
  <div class="middle" *ngIf="!isLogged"></div>
  <div class="middle flex" *ngIf="isLogged">
    <div class="icon-container">
      <i class="fa-solid fa-house icon-rounded icon-button"></i>
    </div>
    <div class="input-group">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Pesquisar no iokurt" [(ngModel)]="inputSearch" />
      </span>
    </div>
  </div>
  <div class="right flex">
    <div class="icon-toggle-theme">
      <i class="fa-solid" [ngClass]="lightTheme ? 'fa-moon' : 'fa-sun'" (click)="saveAndChangeTheme()"></i>
    </div>
    <div class="menu-icons" *ngIf="isLogged">
      <i class="fa-solid fa-bell"></i>
      <i class="fa-solid fa-message"></i>
    </div>
    <div class="user-detail" *ngIf="isLogged" (click)="toggleUser = !toggleUser">
      <div class="user-image">
        <img src="./../../../../assets/img/foto-perfil.png" alt="image-profile">
        <i class="pi pi-angle-down icon-toggle"></i>
      </div>
    </div>
  </div>
</div>
