<div class="login">
  <div class="form-container">
    <div class="head">
      <p>START FOR FREE</p>
      <div class="icon">
        <h1>Create new account</h1>
        <i class="fa-solid fa-circle dot"></i>
      </div>
      <p>Already A Member? <a href="#">Log In</a></p>
    </div>
    <div class="body">
      <form class="form-login">
        <div class="grid">
          <div class="col-6">
            <div class="input-content">
              <label for="firstname" class="input-label">First Name</label>
              <input type="text" pInputText name="firstname" formControlName="firstname" class="input">
            </div>
          </div>
          <div class="col-6">
            <div class="input-content">
              <label for="lastname" class="input-label">Last Name</label>
              <input type="text" pInputText name="lastname" formControlName="lastname" class="input">
            </div>
          </div>
          <div class="col-12">
            <div class="input-content">
              <label for="email" class="input-label">E-mail</label>
              <input type="text" pInputText name="email" formControlName="email" class="input">
            </div>
          </div>
          <div class="col-12">
            <div class="input-content">
              <label for="password" class="input-label">Password</label>
              <input type="password" pInputText name="password" onchange="displayViewPassword()" formControlName="password" class="input" id="input-password">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
