.home {
  padding: 2rem;
  .cards {
    margin: 3rem 0;
    .card {
      .card-title {
        margin-bottom: .7rem;
      }
      .card-body {
        i {
          color: var(--prim-color);
        }
        span {
          margin-left: .3rem;
          font-weight: 600;
          color: var(--title-color);
        }
      }
    }
  }
}
